<html>
  <body>
    <center>
      <h1>{{ name }}</h1>
      <form method="post", action="{{ target }}">
        <table border=1>
          <tr>
            {% for choice in choices %}
              <td><img src="{{ choice }}" width="100%"></td>
            {% endfor %}
          </tr>
          <tr>
            {% for choice in choices %}
              <td>
                <center>
                  <input type="submit" value="Select" name="{{ choice }}">
                </center>
              </td>
            {% endfor %}
          </tr>
        </table>
      </form>
    </center>
  </body>
</html>
